In [1]:
print('Hello Pandas!')

Hello Pandas!

# PANDAS
##
1. Pandas is an open-source library build on top of NumPy;;
2. Pandas allows for analysis and data cleaning and preparations;
3. Pandas excels in performance and productivity;
4. Pandas also has built-in visualization features;
5. Pandas can work with data from a wide variety of sources.

## Data Science topics with Pandas:

Here are the topics for our study about Pandas:

.Series

.DAtaFrames

.Missing Data

.GroupBy

.Merging, Joinning, and Cocarenating

.Operations

.Data Input and Output

The first topic will be the Series:

# SERIES

LIST

DATA

ARRAY

DICTIONARY

In [5]:
# Pandas is build on top of NumPy
import numpy as np

In [8]:
# To start up PANDAS package
import pandas as pd

In [11]:
# Four separate Python Object (LIST, DATA, ARRAY  AND DICTIONARY)
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20, 'c':30}

## HOW TO CREATE A SERIES
### First we'll need those four Python Object:

1. LIST 

2. DATA

3. ARRAY  and

4. DICTIONARY

### Then we pass in our DATA to the Series Method:

In [12]:
# Series : It look a lot as np array, except that here it's very distinguish we have an INDEX and the actual DATA
pd.Series(data=my_data)

0    10
1    20
2    30
dtype: int64

### Or our DATA together w/ LIST (labels):

In [14]:
# Now I specify that INDEX is iguals to the LIST labels 
# Now I have a label-INDEX Series
pd.Series(data=my_data, index=labels)

a    10
b    20
c    30
dtype: int64

### In this very order: 1ยบ DATA then 2ยบ LIST: Series (DATA, LIST)

In [15]:
# You don't need the constant-specifier as long as you put them in  the correct order
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

### Or finally, what's really cool!
### Pass in the DICTIONARY:

In [18]:
# Pandas takes the key as an INDEX, and the dictionary values as our DATA.
# So that's a nice and fast way to quickly create a SERIES!
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### A Series can hold pretty much almost any type of data object of Python as its data points and, more interesting than that, is we can pass in built-in functions like sum, print and len (it will hold references of these functions as data points)

### We probably never actually use this, but this demonstrates the flexibility of the PANDAS Series as far as holding different object types!

## Arithmetic with Series

Series (DATA, LIST)

In [25]:
ser1=pd.Series([1,2,3,4], ['USA', 'USSR', 'GERMANY', 'JAPAN'])

In [26]:
ser1

USA        1
USSR       2
GERMANY    3
JAPAN      4
dtype: int64

In [27]:
ser2=pd.Series([1,2,5,4], ['USA','USSR', 'ITALY', 'JAPAN'])

In [28]:
ser2

USA      1
USSR     2
ITALY    5
JAPAN    4
dtype: int64

In [32]:
# To rescue the data pass in the INDEX
ser1['USA']

1

In [34]:
ser1.USA

1

In [35]:
# We can do arithmatic operations wir the Series too: 
ser1 + ser2

GERMANY    NaN
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       4.0
dtype: float64