In [1]:
print('Hello Pandas AGAIN!')

Hello Pandas AGAIN!

# DATAFRAMES

The primary Pandas data structure!

Can be thought of as a dict-like container for Series objects.

In [2]:
import numpy as np 
import pandas as pd

In [3]:
from numpy.random import randn

In [4]:
# Lets seed it, so our data is the same (in case you want to folow me:)
np.random.seed(101)

# How To Create a DataFrame

In [5]:
# For the purpose of our studing, here is how: DataFrame(Data, Label, Label)
df=pd.DataFrame(randn(5,4), ['A','B','C','D','E'], ['W','X','Y','Z' ])

In [6]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Each of this columns and row are Series themselves!

# INDEXING & SELECTION IN PANDAS

 ### Using Brackets Notation:

In [7]:
# just pass in the column name, ie 'W'
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

## See 'W' is just a Series!

In [9]:
type(df)

pandas.core.frame.DataFrame

## The df itself is the DataFrame!

### Using SQL Notation: 

Note: not recommended, because we can confuse with the real method of df object!

So, always use the bracket Notation when it comes to rescuing series from df :)

Anyway, here you have it:

In [10]:
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

## Getting Multiple Columns back!
Pass in a List, please!

In [11]:
# WHICH IS GOING TO RESULT IN ANOTHER SET OF BRACKETS HERE!
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

## Creating a New Collumn

In [12]:
# Just make some arithmetic on the right side with the series you want to create your column:
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

## Dropping Columns

In [13]:
# Pandas requires that you specify that you really want to modify your data in place (affect the original DB);
#vIt is like so you do not accidentally lose information;
# In case you’ve done a bunch of adjustments to your data, you don’t want to accidentally lose it, right?
# This is like ‘commit’ in DB!
df.drop('new', axis=1, inplace=True)

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Dropping Rows

In [15]:
# This time I am not doing this in place!
## Note: axis=0 is the default, so you don’t need to specify it here:)
df.drop('E', axis=0)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [16]:
# See that our DataFrame has not been affected yet by the last drop! We didn’t make it in place, remember?
df.shape

(5, 4)

In [17]:
# See, df isn't affected yet
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

## Selecting Rows

There are two methods:

1. LOC  ->  label-BASE index

2. ILOC ->  numerical-BASE index

In [18]:
# iT'S LITTLE WEIRD HOW THE METHODS ARE CALLED IN PANDAS: IT USE SQUARED BRACKET!
# But that's the way it works for Pandas! 
# This returns a series of that 'A' row!
df.loc['A']

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [19]:
# or alternativelly, type the index of the row required!
# This is a numerical-BASE index locator = iloc
df.iloc[0]

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

## Returning a Single Value

In [20]:
# iNDEXING
df.loc['B', 'Y']

-0.8480769834036315

In [21]:
# Returnning the same as previous, just locatting it
# Grab the element on the second row ('B) and in the third column ('Y'), right?
df.iloc[1,2]

-0.8480769834036315

## Returning a SUB-SET of the DataFrame

In [22]:
# Just pass two list of the rows and columns you want!
# Please, get used to the SQUARED BRACKET :/
df.loc[['A', 'B'],['W', 'Y']]

          W         Y
A  2.706850  0.907969
B  0.651118 -0.848077

In [23]:
print("Ok, we're going to stop here for now and continue the discussion in the next PySeries Episode!" )

Ok, we're going to stop here for now and continue the discussion in the next PySeries Episode!

In [24]:
# https://medium.com/jungletronics/pandas-dataframes-7ba872dcbc30
print('Thank You for reading This post!. Bye!')

Thank You for reading This post!. Bye!